pre-commit ==3.6.0
black ==24.1.1
isort ==5.13.2
pytest ==7.2.1
pytest-subtests ==0.10.0
nbqa ==1.7.1
flake8 ==7.0.0
pyupgrade ==3.13.0
autopep8 ==2.0.2
pytest-cov ==4.1.0
mkdocs ==1.5.3
mkdocs-material == 9.1.17
mkdocstrings ==0.23.0
mkdocstrings-python == 1.7.3
mike ==2.0.0