pre-commit ==2.20.0
black ==23.3.0
isort ==5.11.2
pytest ==7.2.1
nbqa ==1.5.3
pyupgrade ==3.3.1
flake8 ==6.0.0
autopep8 ==2.0.1
pytest-cov ==4.0.0
mkdocs ==1.4.3
mkdocs-material == 9.1.12
mkdocstrings ==0.21.2
mkdocstrings-python == 1.0.0